<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::head">
    <meta charset="UTF-8">
    <title th:text="create product"></title>
</head>
<body>
<div class="col-lg-12">
    <form action="/product/save" enctype="multipart/form-data" id="productSave" method="post" role="form"
          th:object="${product}">
        <label>Title: </label> <input name="title" type="text">
        <label>Image: </label><input name="imgSrc" type="file">
        <label>Price: </label><input name="price" type="text">
        <label>Count: </label><input name="count" type="text">
        <button class="btn btn-success" type="submit" value="submit"></button>
    </form>
</div>
</body>
</html>